.modalBack {
  opacity: 0.5;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 40;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.contMainModal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 50;
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.contMainModal::-webkit-scrollbar {
  height: 1px;
  width: 8px;
  border-radius: 0.5rem;
}

.contMainModal::-webkit-scrollbar-thumb {
  background-color: #ef4a4b;
  border-radius: 0.5rem;
}

.contMainModal::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: #f9c8c8;
}

.contModal{
  position: relative;
  width: fit-content;
  margin-top: 1rem/* 24px */;
  margin-bottom: 1rem/* 24px */;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
  background-color:#fdeded;
  border-radius: 20px;
}
.maincont{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline: 30px;
  margin-block: 20px;
  width: 300px;
}

.maincont div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maincont div {
  font-weight: bold;

}
.maincont div input{
  font-size:small;
  border-radius: 20px;
  border: none;
  padding-block: 2px;
  padding-inline: 5px;
  width:250px;
  text-align: center;

}
.buttons{
  display: flex;
  justify-content: center;
  flex-direction: row !important;
  gap: 15px;
}

.buttons button {
  padding-block: 4px;
  padding-inline: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.maincont img {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  cursor: pointer;
}