.table th {
  background-color:#ef4a4b;
  padding-block: 4px;
  padding-inline: 5px;
  height: 20px;  
}
.table td{
  font-size: small;
  height: 20px;  
  background-color:#98c1d9;
  padding-block: 2px;
  padding-inline: 5px;
  text-align: center;
}