@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,900&display=swap');

body {
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  overflow-x: hidden;
  overflow-y:auto;
}

body::-webkit-scrollbar {
  height: 1px;
  width: 8px;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #ef4a4b;
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: #f9c8c8;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}
